<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Hi <%= @user.first_name %>
Welcome to Sri Sathya Sai Room Booking Application,
<p>
  Your email id is the username.
  Please access the portal <a href="localhost:3000">here</a>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>