
<%= javascript_include_tag 'user_management/app' %>

<div style="margin: auto;width: 50%;padding-left: 40px;">
  All Users Module
</div>

<!-- <div id="all_users_module" class="login_div" > -->

<div id="all_users_module">

</div>

<script>

    var authencityToken = $('meta[name="csrf-token"]').attr('content');

    var contentDiv = document.getElementById('all_users_module');

    Ext.onReady(function () {

        Ext.create('Ext.form.Panel', {
            //        ui:'panelUi',
//            width:450,
//            height:200,
            layout:{
//                type:'hbox',
                //            align:'stretch'
            },
//            autoScroll:true,

            items: [
//                {
//                    xtype:'textfield',
//                    fieldLabel:'Username'
//                }
                {
                    xtype:'allUsers',
                    authentication_key:authencityToken
                }
//                {
//                    xtype:'grid',
//                    columns:[
//                        {text:'Username'},
//                        {text:'Email'},
//                        {text:'Phone Number'},
//                    ]
//
//                }
            ],
            renderTo: contentDiv
        });

    });

</script>