<%if user_group_id == 1%>
    <div id="main_header">
      <span> <a href="#" onclick="location_link('/')">Home</a> </span> &nbsp;&nbsp;|&nbsp;&nbsp;
      <span> <a href="#" onclick="location_link('<%=admin_index_path%>')">Room Schedule</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
      <span> <a href="#" onclick="location_link('/reports')">Reports</a> </span>
    </div>
<%else%>
    <div id="main_header">
      <span> <a href="#" onclick="location_link('/')">Home</a> </span> &nbsp;&nbsp;|&nbsp;&nbsp;
      <span> <a href="#" onclick="location_link('/address_book')">Address Book</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
      <span> <a href="#" onclick="location_link('/enquiry_booking')">Enquiry/Booking</a> </span>
    </div>
<%end%>

