<div id="main_header">
  <span> <a href="/">Home</a> </span> &nbsp;&nbsp;|&nbsp;&nbsp;
  <span> <a href="/address_book">Address Book</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
  <span> <a href="/enquiry_booking">Enquiry/Booking</a> </span>
</div>